.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cta {

}

.emoji-wrapper {
  margin:50px;
}
.slider {
  margin:50px 0 50px;
}
.emoji-wrapper > span {
  width:150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
}
.fake-background {
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index: -1;
}

.emoji-0 ~ .fake-background {
  background: #af006a;
}
.emoji-1 ~ .fake-background {
  background:#baffc9;
}
.emoji-2 ~ .fake-background {
  background:#bae1ff;
}
.emoji-3 ~ .fake-background {
  background:#7de6fa;
}
.emoji-4 ~ .fake-background {
  background:#99aab5;
}
.emoji-5 ~ .fake-background {
  background:#ffffff;
}
.emoji-6 ~ .fake-background {
  background:#ffb3ba;
}
.emoji-7 ~ .fake-background {
  background:rgb(218, 165, 240);
}
.emoji-8 ~ .fake-background {
  background:#fff252;
}
.emoji-9 ~ .fake-background {
  background:#bd5ffa;
}
.emoji-wrapper .emoji-0 { 
  background-image:url('assets/angry.png');
}
.emoji-wrapper .emoji-1 { 
  background-image:url('assets/disappointed.png');
}
.emoji-wrapper .emoji-2 { 
  background-image:url('assets/crying.png');
}
.emoji-wrapper .emoji-3 { 
  background-image:url('assets/shocked.png');
}
.emoji-wrapper .emoji-4 { 
  background-image:url('assets/sad.png');
}
.emoji-wrapper .emoji-5 { 
  background-image:url('assets/null.png');
}
.emoji-wrapper .emoji-6 { 
  background-image:url('assets/ok.png');
}
.emoji-wrapper .emoji-7 { 
  background-image:url('assets/happy.png');
}
.emoji-wrapper .emoji-8 { 
  background-image:url('assets/excited.png');
}
.emoji-wrapper .emoji-9 { 
  background-image:url('assets/loved.png');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
